<!DOCTYPE HTML>
<html>
  <head>
    <title>Ekaterina Gorbacheva</title>
    <meta charset="utf-8" />
    <meta name="description" content="Web Developer and Agile Project Manager, based in Shanghai, China">
    <meta name="keywords" content="Kso, Ekaterina Gorbacheva, web developer, Ruby on Rails, RoR, HTML, JavaScript, MiniProgram, MP">
    <meta name="author" content="Ekaterina Gorbacheva">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="stylesheets/layouts/_index.scss" />
    <link rel="images" href="favicon.png" type="images/favicon">
    <img src="/images/favicon.png" id="logo">

    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
<!--     <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111037267-1"></script>
 -->
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111037267-1');
    </script>

  </head>
  <body>

    <!-- Header -->
      <section id="header">
        <header class="major">
          <h1>Ekaterina Gorbacheva</h1>
          <p>Full-Stack Developer | Project Manager | Speaker</p>
          <ul class="icons">
            <li><a href="https://www.linkedin.com/in/ekaterina-gorbacheva-b4140380/" class="icon alt fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
            <li><a href="https://github.com/kittinson" class="icon alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
            <li><a href="https://www.instagram.com/kittinson" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
            <li><a href="https://www.facebook.com/ekaterina.gorbacheva.961" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
          </ul>
        </header>
        <div class="container">
          <ul class="actions">
            <li><a href="#one" class="button special scrolly">Begin</a></li>
          </ul>
        </div>
      </section>

    <!-- One -->
      <section id="one" class="main special">
        <div class="container">
          <span class="image fit primary"><img src="images/pic01.jpg" alt="" /></span>
          <div class="content">
            <header class="major">
              <h2>Who I am</h2>
            </header>
            <p>Hi there, I'm Katya. I transform creative ideas into responsive websites and WeChat Mini Programs. Currently, I'm based in Shanghai, China, I have strong record of project management. I've worked with both large and small agile teams to create digital products and develop MVPs. Recent successful project is DOGether. It is a pet adoption platform in China based as website and WeChat Mini Program. I developed the idea, created marketing plan and developed it in a team with 2 other developers. When I'm not coding, I am an artist, yogi and speaker on tech and marketing events. </p>
          </div>
          <a href="#two" class="goto-next scrolly">Next</a>
        </div>
      </section>

    <!-- Two -->
      <section id="two" class="main special">
        <div class="container">
          <span class="image fit primary"><img src="images/pic02.jpg" alt="" /></span>
          <div class="content">
            <header class="major">
              <h2>What I do</h2>
            </header>
            <p>My stack includes Ruby on Rails, JavaScript ES6, WeChat Mini Programs, React, HTML5, CSS, SQL Databases, Drupal and Wordpess CMS.  Check me out on <a href="https://github.com/kittinson">GitHub</a> or shoot me an <a href="mailto:pesik@mail.ru">email </a> for a full CV.</p>
            <ul class="icons-grid">
              <li>
                <span class="icon major fa-laptop"></span>
                <h3>Responsive <br>Web Design</h3>
              </li>
              <li>
                <span class="icon major fa-code"></span>
                <h3>Back-End <br>Development</h3>
              </li>
              <li>
                <span class="icon major fa-code-fork"></span>
                <h3>DevOps</h3>
              </li>
              <li>
                <span class="icon major fa-wechat"></span>
                <h3>WeChat Mini Programms</h3>
              </li>
            </ul>
          </div>
          <p>2018 Highlights</p>
                    <ul class="fa-ul">
            <li><i class="fa-li fa fa-check-square"></i><em>May</em> - Release DOGether</li>
            <li><i class="fa-li fa fa-check-square"></i><em>June</em> - Ladies Who Tech Workshop: How to Build a Website in 2 Hours</li>
            <li><i class="fa-li fa fa-check-square"></i><em>June</em> -  Workshop: Tech Enterpreneurship: from Idea to Market Fit</li>
            <li><i class="fa-li fa fa-check-square"></i><em>August</em> - TA in LeWagon Bootcamp, Batch 159</li>


          <a href="#three" class="goto-next scrolly">Next</a>
        </div>
      </section>

    <!-- Three -->
      <section id="three" class="main special">
        <div class="container">
          <span class="image fit primary"><img src="images/pic03.jpg" alt="" /></span>
          <div class="content">
            <header class="major">
              <h2>What I Create</h2>
            </header>
            <p>Here's a porfolio of some of my favorite projects from the last year. Get in touch to see the full list. </p>
            <div class="card-left">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/must2.jpg');">
                <div class="card-category">Must Films</div>
                <a class="card-link" href="http://mustfilms.com/" ></a>
              </div>
            </div>
            <div class="card-right">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/memos.jpg');">
                <div class="card-category">Memos to the Future</div>
                <a class="card-link" href="http://memostothefuture.com/" ></a>
              </div>
            </div>
                <div class="card-left">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/hotelier1.jpg');">
                <div class="card-category">Hotelier Awards</div>
                <a class="card-link" href="http://hotelierawards.com/"></a>
              </div>
            </div>
                <div class="card-right">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/groom.png');">
                <div class="card-category">Groom Development</div>
                <a class="card-link" href="http://groomdevelopment.com/"></a>
              </div>
            </div>
                <div class="card-left">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/travelers1.png');">
                <div class="card-category">Travelers Society</div>
                <a class="card-link" href="http://t-s.rocks/" ></a>
              </div>
            </div>
                <div class="card-right">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/webpower.png');">
                <div class="card-category">Webpower Asia</div>
                <a class="card-link" href="http://webpowerasia.com/" ></a>
              </div>
            </div>
          </div>
          <a href="#footer" class="goto-next scrolly">Next</a>
        </div>
      </section>
    <!-- Footer -->
      <section id="footer">
        <div class="container">
          <header class="major">
            <h2>Want to work together?</h2>
          </header>

          <form method="post" name="contact_form" action="send_form_email.php">
            <div class="row uniform">
              <div class="6u 12u$(xsmall)"><input type="text" name="name" id="name" placeholder="Name" /></div>
              <div class="6u$ 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Email" /></div>
              <div class="12u$"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
              <div class="12u$">
                <ul class="actions">
                  <li><input type="submit" value="Send A Message" class="special" /></li>
                </ul>
              </div>
            </div>
          </form>
        </div>
        <footer>
          <ul class="copyright">
            <li>&copy; Ekaterina Gorbacheva 2018</li>
          </ul>
        </footer>
      </section>

    <!-- Scripts -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/jquery.scrollex.min.js"></script>
      <script src="assets/js/jquery.scrolly.min.js"></script>
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/util.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="assets/js/main.js"></script>

  </body>
</html>
